td {
    vertical-align:middle;
}

form input:focus, button:focus {
    box-shadow: none !important;
}

.btn-rounded-light {
    border-color: lightgrey;
    background-color: lightgrey;
    border-radius: 100%;
}

.w-18rem {
    width: 18rem;
}

@media screen and (max-width: 768px) {
    .mb-sm-2 {
        margin-bottom: 2%;
    }

    .w-sm-100 {
        width: 100%;
    }
}